@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans-regular.woff") format("woff");
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: radial-gradient(closest-side, #434343 0%, #000 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
}

header {
  height: 6rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  text-align: center;
}

main p {
  max-width: 32rem;
  color: #3d85c6;
}

footer {
  padding: 2rem;
  font-size: 1.3rem;
  text-align: center;
  color: #3c3c3c;
}

footer a {
  color: #3c3c3c;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
